{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="title">
        <div class="header">
            <ul>
                <li>Home</li>
                <li>Type</li>
                <li>Type</li>
                <li>Type</li>
                <li>Type</li>
                <li>contact</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="walpaper">
        <div class="type-1">
            <h1>Type-1</h1>
            <div class="set">
            <div class="box">
                <img src="{% static '123.jpg' %}" alt="" srcset="">
                <div class="_title">
                    <div class="a">
                    <h2>Title</h2>
                    <div class="input"><input type="button" value="Download"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>